header{
    width: 100%;
    top : 0;
    background-color: black;
    color: white;
    font-family: "Inter", bold;
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            color: white;
            text-decoration: none;
        }
        figure{
            img{
                width: 75%;
            }
        }
        .loginsignup{
            display: flex;
            align-items: center;
            justify-content: space-between;
            button{
                background-color: #272A36;
            }
        }
    }
}

@media only screen and (max-width:700px) {
    header{
        nav{
            p{
                display: none;
            }
            div{
                p{
                    display: block;
                }
            }
        }
    }
}