.mainpage{
    margin: auto;
    width: 100%;
    height: 100vh;
    padding: 0;
    flex-direction: row;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    .maintext{
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        h1{
            color: #4E0707;
            font-family: "Inter",bold;
        }
        .title{
            font-size: 60px;
        }
        h3{
            font-family: "Inter",medium;
            font-size: 25px;
        }
        a{
            display: flex;
            justify-content: center;
            text-decoration: none;
        }
    }
    
    div{
        figure{
            text-align: right;
            img{
                width: 75%;
            }
        }
    }
}
.mainpage::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../images/mainpage.png');
    background-repeat: repeat;
    background-position: left;
    background-size: cover;
    opacity: 0.6; 
    z-index: -1;
}

@media only screen and (max-width:800px) {
    .mainpage {
       
        .maintext{
            .title{
                font-size: 50px;
            }
            h3{
                font-size: 30px;
            }
        }
    }

    .mainpage::before {
        content: "";
       
        background-position: center;
       
    }

}